
body {
  background-color: #E2DACF;
  margin:0; 
  padding:0;
  height: 100%;
  width: 100%;
}  
  
  @media (min-width: 768px){
  
    html{
      font-size: 62.5%;
    }
  }
  
  @media (max-width: 767px){
  
    html{
      font-size: 50%;
    }
  }
  
  
  .page{
    box-sizing: border-box;
    width: 100%;  
    padding-left: 1rem;
    padding-right: 1rem;
    
    order: 1;
    margin: auto;
  }
  
  
  